.calendar {
    .days {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 100px;
        row-gap: 5px;
        column-gap: 5px;
    }
}

.calendar-cell {
    background: #BBDEFB;
    border-radius: 41px;
    cursor: pointer;

    .cell-day {
        display: flex;
        justify-content: flex-end;
        padding: 5px 25px 35px 10px;
        font-size: 60px;
    }

    &.active {
        background: #90CAF9;
    }
}

.week-title {
    background: #80CBC4;
    border-radius: 41px;
    line-height: 100px;
    text-align: center;
    font-size: 38px;
}
