.timeline {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 1024px;

    .time {
        margin-bottom: 30px;
        font-size: 20px;
    }

    hr {
        margin: 0px 0px 6px 0px;
    }

}

.taskstable {
    display: flex;
    letter-spacing: 2px;

    .task {
        padding: 15px 50px 15px 15px;
        border-radius: 15px;
        font-size: 14px;
        text-transform: uppercase;
        margin: 10px 5px;
    }
}